<!-- Start homepage content -->

<div id="main-banner">
  <picture>
    <source srcset="images/banner-small.jpg" media="(max-width: 480px)">
      <source srcset="images/banner-medium.jpg" media="(max-width: 768px)">
        <img src="images/banner.jpg" alt="Banner" />
      </picture>
    </div>

    <div class="menu-flag">
      <div ng-include="'views/menu.html'"></div>
    </div>


    <div class="wrapper">
      <section id="featured">
        <h2>Pratos Especiais</h2>
        <ul>
          <li>
            <img src="images/thumb-1.jpg" alt="Fugiat nulla sint" />
            <a href="#">Fugiat nulla sint</a>
            <span>R$24</span>
            <span class="rating"></span>
          </li>
          <li>
            <img src="images/thumb-2.jpg" alt="Fugiat nulla sint" />
            <a href="#">Fugiat nulla sint</a>
            <span>R$22</span>
            <span class="rating"></span>
          </li>
          <li>
            <img src="images/thumb-3.jpg" alt="Fugiat nulla sint" />
            <a href="#">Fugiat nulla sint</a>
            <span>R$35</span>
            <span class="rating"></span>
          </li>
          <li>
            <img src="images/thumb-4.jpg" alt="Fugiat nulla sint" />
            <a href="#">Fugiat nulla sint</a>
            <span>R$30</span>
            <span class="rating"></span>
          </li>
        </ul>
      </section>
    </div>

    <!-- End homepage content -->
