    <div class="wrapper">
      <section id="home-menu">
        <h2>Cardápio</h2>
        <ul>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$30</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$25</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$22</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$38</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$19</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$22</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$28</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
          <li>
            <span class="dish">Voluptate Cillum fugiat</span>
            <span class="price">R$30</span>
            <span class="description">Loluptate, commodo, pariatur, velit</span>
          </li>
        </ul>
      </section>

    </div>
